<header class="header style7">
  <div class="container">
    <div class="main-header">
      <div class="row">
        <div class="col-lg-3 col-sm-4 col-md-3 col-xs-7 col-ts-12 header-element">
          <div class="logo">
            <a href="index.html">
              <img src="assets/images/logo.png" alt="img">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="header-nav-container">
    <div class="container">
      <div class="header-nav-wapper main-menu-wapper">
        <div class="vertical-wapper block-nav-categori">
          <div class="block-title">
            <span class="icon-bar">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <span class="text">SOFA Trường Phát</span>
          </div>
          <div class="block-content verticalmenu-content">
            <ul class="teamo-nav-vertical vertical-menu teamo-clone-mobile-menu">
              <li class="menu-item">
                <a href="#" class="teamo-menu-item-title" title="New Arrivals">Sofa Da Thật</a>
              </li>
              <li class="menu-item">
                <a title="Hot Sale" href="#" class="teamo-menu-item-title">Sofa Nỉ Nhung</a>
              </li>
              <li class="menu-item ">
                <a title="Accessories" href="#" class="teamo-menu-item-title">Sofa Băng (Văng)</a>
                <span class="toggle-submenu"></span>

              </li>
              <li class="menu-item">
                <a title="Audio" href="#" class="teamo-item-title">Sofa Góc Chữ L</a>
              </li>
              <li class="menu-item">
                <a title="Cacti" href="#" class="teamo-item-title">Sofa Đơn/Armchair</a>
              </li>
              <li class="menu-item">
                <a title="New Arrivals" href="#" class="teamo-item-title">Sofa Thư Giản</a>
              </li>
              <li class="menu-item">
                <a title="Accessories" href="#" class="teamo-item-title">Giường Sofa</a>
              </li>
              <li class="menu-item">
                <a title="Storage" href="#" class="teamo-item-title">Storage</a>
              </li>
              <li class="menu-item menu-item-has-children">
                <a title="Accessories" href="#" class="teamo-menu-item-title">Dịch Vụ</a>
                <span class="toggle-submenu"></span>
                <ul role="menu" class=" submenu">
                  <li class="menu-item">
                    <a title="Audio" href="#" class="teamo-item-title">Sản xuất Sofa Karaoke/Quán Bar</a>
                  </li>
                  <li class="menu-item">
                    <a title="Cacti" href="#" class="teamo-item-title">Bọc Sofa</a>
                  </li>
                  <li class="menu-item">
                    <a title="New Arrivals" href="#" class="teamo-item-title">Bọc giường</a>
                  </li>
                  <li class="menu-item">
                    <a title="Accessories" href="#" class="teamo-item-title">Thi công ốp vách</a>
                  </li>
                  <li class="menu-item">
                    <a title="Storage" href="#" class="teamo-item-title">May vỏ nệm</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a title="Cacti" href="#" class="teamo-menu-item-title">Liên Hệ</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="header-nav">
          <div class="container-wapper">
            <ul class="teamo-clone-mobile-menu teamo-nav main-menu " id="menu-main-menu">
              <li class="menu-item  ">
                <a href="about.html" class="teamo-menu-item-title" title="About">Trang Chủ</a>

              </li>
              <li class="menu-item menu-item-has-children">
                <a href="gridproducts.html" class="teamo-menu-item-title" title="Shop">Sofa</a>
                <span class="toggle-submenu"></span>
                <ul class="submenu">
                  <li class="menu-item">
                    <a href="gridproducts.html">Sofa Da Thật</a>
                  </li>
                  <li class="menu-item">
                    <a href="gridproducts_leftsidebar.html">Sofa Nỉ Nhung</a>
                  </li>
                  <li class="menu-item">
                    <a href="gridproducts_bannerslider.html">Sofa Băng (Văng)</a>
                  </li>
                  <li class="menu-item">
                    <a href="listproducts.html">Sofa Góc Chữ L</a>
                  </li>
                  <li class="menu-item">
                    <a href="listproducts.html">Sofa Đơn/Armchair</a>
                  </li>
                  <li class="menu-item">
                    <a href="listproducts.html">Sofa Thư Giản</a>
                  </li>
                  <li class="menu-item">
                    <a href="listproducts.html">Giường Sofa</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="gridproducts.html" class="teamo-menu-item-title" title="Shop">Dịch Vụ</a>
                <span class="toggle-submenu"></span>
                <ul class="submenu">
                  <li class="menu-item">
                    <a href="gridproducts.html">Sản xuất Sofa Karaoke/Quán Bar</a>
                  </li>
                  <li class="menu-item">
                    <a href="gridproducts_leftsidebar.html">Bọc Sofa</a>
                  </li>
                  <li class="menu-item">
                    <a href="gridproducts_bannerslider.html">Bọc giường</a>
                  </li>
                  <li class="menu-item">
                    <a href="listproducts.html">Thi công ốp vách</a>
                  </li>
                  <li class="menu-item">
                    <a href="listproducts.html">May vỏ nệm</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item">
                <a href="about.html" class="teamo-menu-item-title" title="About">Liên Hệ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="header-device-mobile">
  <div class="wapper">
    <div class="item mobile-logo">
      <div class="logo">
        <a href="#">
          <img src="assets/images/logo.png" alt="img">
        </a>
      </div>
    </div>
    <div class="item item mobile-search-box has-sub">
      <a href="#">
        <span class="icon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </a>
      <div class="block-sub">
        <a href="#" class="close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <div class="header-searchform-box">
          <form class="header-searchform">
            <div class="searchform-wrap">
              <input type="text" class="search-input" placeholder="Enter keywords to search...">
              <input type="submit" class="submit button" value="Search">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="item mobile-settings-box has-sub">
      <a href="#">
        <span class="icon">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </span>
      </a>
      <div class="block-sub">
        <a href="#" class="close">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <div class="block-sub-item">
          <h5 class="block-item-title">Currency</h5>
          <form class="currency-form teamo-language">
            <ul class="teamo-language-wrap">
              <li class="active">
                <a href="#">
                  <span>
                    English (USD)
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    French (EUR)
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    Japanese (JPY)
                  </span>
                </a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <div class="item menu-bar">
      <a class=" mobile-navigation  menu-toggle" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  </div>
</div>
