<div class="main-content">
  <div class="fullwidth-template">
    <div class="home-slider style1 rows-space-30">
      <div class="container">
        <owl-carousel-o [options]="owlOption" class="banner-slider">
          <ng-template carouselSlide>
            <div class="slider-item style1">
              <div class="slider-inner equal-element">
                <div class="slider-infor">
                  <h5 class="title-small">
                    New Arrivals!
                  </h5>
                  <h3 class="title-big">
                    Indoor<br />
                    hanging Plant
                  </h3>
                  <div class="price">
                    Price from:
                    <span class="number-price">
                      $75.00
                    </span>
                  </div>
                  <a href="#" class="button btn-shop-the-look bgroud-style">Shop now</a>
                </div>
              </div>
            </div>

          </ng-template>
          <ng-template carouselSlide>
            <div class="slider-item style2">
              <div class="slider-inner equal-element">
                <div class="slider-infor">
                  <h5 class="title-small">
                    Table Supplies Sale!
                  </h5>
                  <h3 class="title-big">
                    Up to <span>75%</span> <br /> Store Items
                  </h3>
                  <div class="price">
                    Price from:
                    <span class="number-price">
                      $95.00
                    </span>
                  </div>
                  <a href="#" class="button btn-shop-now">Shop now</a>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slider-item style3">
              <div class="slider-inner equal-element">
                <div class="slider-infor">
                  <h5 class="title-small">
                    New Arrivals!
                  </h5>
                  <h3 class="title-big">
                    leaves plant <br />
                    In Water
                  </h3>
                  <div class="price">
                    Price from:
                    <span class="number-price">
                      $75.00
                    </span>
                  </div>
                  <a href="#" class="button btn-shop-the-look bgroud-style">Shop now</a>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>



      </div>
    </div>
    <div class="banner-wrapp rows-space-30">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="banner">
              <div class="item-banner style12">
                <div class="inner">
                  <div class="banner-content">
                    <h3 class="title">Best Seller</h3>
                    <div class="description">
                      Check out our your <br /> plants collection now!
                    </div>
                    <a href="#" class="button btn-shop-now">Shop now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="banner">
              <div class="item-banner style14">
                <div class="inner">
                  <div class="banner-content">
                    <h4 class="teamo-subtitle">End this weekend</h4>
                    <h3 class="title">Big Sale <br />75% Off</h3>
                    <div class="code">
                      Use promo Code:
                      <span class="nummer-code">TEAMO</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="banner">
              <div class="item-banner style12 type2">
                <div class="inner">
                  <div class="banner-content">
                    <h3 class="title">Lookbook</h3>
                    <div class="description">
                      New Plant Collections <br />Summer Lookbook
                    </div>
                    <a href="#" class="button btn-view-the-look">View all</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="teamo-tabs  default rows-space-40">
      <div class="container">

        <div class="tab-head">
          <h3 class="custommenu-title-blog white">
            Sản Phẩm Sofa
          </h3>
        </div>
        <div class="tab-container">
          <div id="bestseller" class="tab-panel active">
            <div class="teamo-product">
              <ul class="row list-products auto-clear equal-container product-grid">
                <li *ngFor="let item of data.products"
                  class="product-item  col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ts-12 style-1">
                  <div class="product-inner equal-element">
                    <div class="product-top">
                      <div class="flash">
                        <span class="onnew">
                          <span class="text">
                            new
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="product-thumb">
                      <div class="thumb-inner">
                        <a href="#">
                          <img [src]="'assets/sofa-images/'+ item.images[0]" alt="img">
                        </a>
                        <div class="thumb-group">
                          <!-- <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                              <a href="#">Add to Wishlist</a>
                            </div>
                          </div> -->
                          <a href="#" class="button quick-wiew-button"> View</a>
                          <!-- <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <div class="product-info">
                      <h5 class="product-name product_title">
                        <a href="#">{{item.name}}</a>
                      </h5>
                      <div class="group-info">
                        <div class="stars-rating">
                          <div class="star-rating">
                            <span class="star-5"></span>
                          </div>
                          <div class="count-star">
                            (5)
                          </div>
                        </div>
                        <div class="price">
                          <!-- <del>
                            $65
                          </del> -->
                          <ins>
                            Liên Hệ
                          </ins>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div id="new_arrivals" class="tab-panel">
            <div class="teamo-product">
              <ul class="row list-products auto-clear equal-container product-grid">
                <li *ngFor="let item of data.products"
                  class="product-item  col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ts-12 style-1">
                  <div class="product-inner equal-element">
                    <div class="product-top">
                      <div class="flash">
                        <span class="onnew">
                          <span class="text">
                            new
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="product-thumb">
                      <div class="thumb-inner">
                        <a href="#">
                          <img [src]="'assets/sofa-images/'+ item.images[0]" alt="img">
                        </a>
                        <div class="thumb-group">
                          <!-- <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                              <a href="#">Add to Wishlist</a>
                            </div>
                          </div> -->
                          <a href="#" class="button quick-wiew-button"> View</a>
                          <!-- <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <div class="product-info">
                      <h5 class="product-name product_title">
                        <a href="#">{{item.name}}</a>
                      </h5>
                      <div class="group-info">
                        <div class="stars-rating">
                          <div class="star-rating">
                            <span class="star-5"></span>
                          </div>
                          <div class="count-star">
                            (5)
                          </div>
                        </div>
                        <div class="price">
                          <!-- <del>
                          $65
                        </del> -->
                          <ins>
                            Liên Hệ
                          </ins>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div id="top-rated" class="tab-panel">
            <div class="teamo-product">
              <ul class="row list-products auto-clear equal-container product-grid">
                <li *ngFor="let item of data.products"
                  class="product-item  col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ts-12 style-1">
                  <div class="product-inner equal-element">
                    <div class="product-top">
                      <div class="flash">
                        <span class="onnew">
                          <span class="text">
                            new
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="product-thumb">
                      <div class="thumb-inner">
                        <a href="#">
                          <img [src]="'assets/sofa-images/'+ item.images[0]" alt="img">
                        </a>
                        <div class="thumb-group">
                          <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                              <a href="#">Add to Wishlist</a>
                            </div>
                          </div>
                          <a href="#" class="button quick-wiew-button"> View</a>
                          <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-info">
                      <h5 class="product-name product_title">
                        <a href="#">{{item.name}}</a>
                      </h5>
                      <div class="group-info">
                        <div class="stars-rating">
                          <div class="star-rating">
                            <span class="star-5"></span>
                          </div>
                          <div class="count-star">
                            (5)
                          </div>
                        </div>
                        <div class="price">
                          <!-- <del>
                          $65
                        </del> -->
                          <ins>
                            Liên Hệ
                          </ins>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="product-in-stock-wrapp">
      <div class="container">
        <h3 class="custommenu-title-blog white">
          Featured Products
        </h3>
        <div class="teamo-product style3">
          <ul class="row list-products auto-clear equal-container product-grid">
            <li class="product-item  col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-3">
              <div class="product-inner equal-element">
                <div class="product-thumb">
                  <div class="product-top">
                    <div class="flash">
                      <span class="onnew">
                        <span class="text">
                          new
                        </span>
                      </span>
                    </div>
                    <div class="yith-wcwl-add-to-wishlist">
                      <div class="yith-wcwl-add-button">
                        <a href="#" tabindex="0">Add to Wishlist</a>
                      </div>
                    </div>
                  </div>
                  <div class="thumb-inner">
                    <a href="#" tabindex="0">
                      <img src="assets/images/product-item-black-10.jpg" alt="img">
                    </a>
                  </div>
                  <a href="#" class="button quick-wiew-button" tabindex="0"> View</a>
                </div>
                <div class="product-info">
                  <h5 class="product-name product_title">
                    <a href="#" tabindex="0">Suction Return</a>
                  </h5>
                  <div class="group-info">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="star-3"></span>
                      </div>
                      <div class="count-star">
                        (3)
                      </div>
                    </div>
                    <div class="price">
                      <span>$375</span>
                    </div>
                  </div>
                  <div class="group-buttons">
                    <div class="quantity">
                      <div class="control">
                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                        <input type="text" data-step="1" data-min="0" value="1" title="Qty" class="input-qty qty"
                          size="4">
                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                      </div>
                    </div>
                    <button class="add_to_cart_button button" tabindex="0">Shop now</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item style-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12">
              <div class="product-inner equal-element">
                <div class="product-thumb">
                  <div class="product-top">
                    <div class="flash">
                      <span class="onnew">
                        <span class="text">
                          new
                        </span>
                      </span>
                    </div>
                    <div class="yith-wcwl-add-to-wishlist">
                      <div class="yith-wcwl-add-button">
                        <a href="#" tabindex="0">Add to Wishlist</a>
                      </div>
                    </div>
                  </div>
                  <div class="thumb-inner">
                    <a href="#" tabindex="0">
                      <img src="assets/images/product-item-black-2.jpg" alt="img">
                    </a>
                  </div>
                  <a href="#" class="button quick-wiew-button" tabindex="0"> View</a>
                </div>
                <div class="product-info">
                  <h5 class="product-name product_title">
                    <a href="#" tabindex="0">Blowoff Valve Kit</a>
                  </h5>
                  <div class="group-info">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="star-3"></span>
                      </div>
                      <div class="count-star">
                        (3)
                      </div>
                    </div>
                    <div class="price">
                      <span>$375</span>
                    </div>
                  </div>
                  <div class="group-buttons">
                    <div class="quantity">
                      <div class="control">
                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                        <input type="text" data-step="1" data-min="0" value="1" title="Qty" class="input-qty qty"
                          size="4">
                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                      </div>
                    </div>
                    <button class="add_to_cart_button button" tabindex="0">Shop now</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item style-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12">
              <div class="product-inner equal-element">
                <div class="product-thumb">
                  <div class="product-top">
                    <div class="flash">
                      <span class="onnew">
                        <span class="text">
                          new
                        </span>
                      </span>
                    </div>
                    <div class="yith-wcwl-add-to-wishlist">
                      <div class="yith-wcwl-add-button">
                        <a href="#" tabindex="0">Add to Wishlist</a>
                      </div>
                    </div>
                  </div>
                  <div class="thumb-inner">
                    <a href="#" tabindex="0">
                      <img src="assets/images/product-item-black-3.jpg" alt="img">
                    </a>
                  </div>
                  <a href="#" class="button quick-wiew-button" tabindex="0"> View</a>
                </div>
                <div class="product-info">
                  <h5 class="product-name product_title">
                    <a href="#" tabindex="0">Attack Stage</a>
                  </h5>
                  <div class="group-info">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="star-3"></span>
                      </div>
                      <div class="count-star">
                        (3)
                      </div>
                    </div>
                    <div class="price">
                      <span>$375</span>
                    </div>
                  </div>
                  <div class="group-buttons">
                    <div class="quantity">
                      <div class="control">
                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                        <input type="text" data-step="1" data-min="0" value="1" title="Qty" class="input-qty qty"
                          size="4">
                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                      </div>
                    </div>
                    <button class="add_to_cart_button button" tabindex="0">Shop now</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item  col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-3">
              <div class="product-inner equal-element">
                <div class="product-thumb">
                  <div class="product-top">
                    <div class="flash">
                      <span class="onnew">
                        <span class="text">
                          new
                        </span>
                      </span>
                    </div>
                    <div class="yith-wcwl-add-to-wishlist">
                      <div class="yith-wcwl-add-button">
                        <a href="#" tabindex="0">Add to Wishlist</a>
                      </div>
                    </div>
                  </div>
                  <div class="thumb-inner">
                    <a href="#" tabindex="0">
                      <img src="assets/images/product-item-black-4.jpg" alt="img">
                    </a>
                  </div>
                  <a href="#" class="button quick-wiew-button" tabindex="0"> View</a>
                </div>
                <div class="product-info">
                  <h5 class="product-name product_title">
                    <a href="#" tabindex="0">Cold Intake System</a>
                  </h5>
                  <div class="group-info">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="star-3"></span>
                      </div>
                      <div class="count-star">
                        (3)
                      </div>
                    </div>
                    <div class="price">
                      <span>$375</span>
                    </div>
                  </div>
                  <div class="group-buttons">
                    <div class="quantity">
                      <div class="control">
                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                        <input type="text" data-step="1" data-min="0" value="1" title="Qty" class="input-qty qty"
                          size="4">
                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                      </div>
                    </div>
                    <button class="add_to_cart_button button" tabindex="0">Shop now</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item style-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12">
              <div class="product-inner equal-element">
                <div class="product-thumb">
                  <div class="product-top">
                    <div class="flash">
                      <span class="onnew">
                        <span class="text">
                          new
                        </span>
                      </span>
                    </div>
                    <div class="yith-wcwl-add-to-wishlist">
                      <div class="yith-wcwl-add-button">
                        <a href="#" tabindex="0">Add to Wishlist</a>
                      </div>
                    </div>
                  </div>
                  <div class="thumb-inner">
                    <a href="#" tabindex="0">
                      <img src="assets/images/product-item-black-5.jpg" alt="img">
                    </a>
                  </div>
                  <a href="#" class="button quick-wiew-button" tabindex="0"> View</a>
                </div>
                <div class="product-info">
                  <h5 class="product-name product_title">
                    <a href="#" tabindex="0">Bottle Glass Cleaner</a>
                  </h5>
                  <div class="group-info">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="star-3"></span>
                      </div>
                      <div class="count-star">
                        (3)
                      </div>
                    </div>
                    <div class="price">
                      <span>$375</span>
                    </div>
                  </div>
                  <div class="group-buttons">
                    <div class="quantity">
                      <div class="control">
                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                        <input type="text" data-step="1" data-min="0" value="1" title="Qty" class="input-qty qty"
                          size="4">
                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                      </div>
                    </div>
                    <button class="add_to_cart_button button" tabindex="0">Shop now</button>
                  </div>
                </div>
              </div>
            </li>
            <li class="product-item style-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12">
              <div class="product-inner equal-element">
                <div class="product-thumb">
                  <div class="product-top">
                    <div class="flash">
                      <span class="onnew">
                        <span class="text">
                          new
                        </span>
                      </span>
                    </div>
                    <div class="yith-wcwl-add-to-wishlist">
                      <div class="yith-wcwl-add-button">
                        <a href="#" tabindex="0">Add to Wishlist</a>
                      </div>
                    </div>
                  </div>
                  <div class="thumb-inner">
                    <a href="#" tabindex="0">
                      <img src="assets/images/product-item-black-6.jpg" alt="img">
                    </a>
                  </div>
                  <a href="#" class="button quick-wiew-button" tabindex="0"> View</a>
                </div>
                <div class="product-info">
                  <h5 class="product-name product_title">
                    <a href="#" tabindex="0">Toyota Switchback</a>
                  </h5>
                  <div class="group-info">
                    <div class="stars-rating">
                      <div class="star-rating">
                        <span class="star-3"></span>
                      </div>
                      <div class="count-star">
                        (3)
                      </div>
                    </div>
                    <div class="price">
                      <span>$375</span>
                    </div>
                  </div>
                  <div class="group-buttons">
                    <div class="quantity">
                      <div class="control">
                        <a class="btn-number qtyminus quantity-minus" href="#">-</a>
                        <input type="text" data-step="1" data-min="0" value="1" title="Qty" class="input-qty qty"
                          size="4">
                        <a href="#" class="btn-number qtyplus quantity-plus">+</a>
                      </div>
                    </div>
                    <button class="add_to_cart_button button" tabindex="0">Shop now</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="banner-wrapp rows-space-30">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="banner">
              <div class="item-banner style10">
                <div class="inner">
                  <div class="banner-content">
                    <h4 class="teamo-subtitle">Wheel Collection!</h4>
                    <h3 class="title">Big Deal Of The Day</h3>
                    <div class="description">
                      We’ve been waiting for you!
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="banner">
              <div class="item-banner style11">
                <div class="inner">
                  <div class="banner-content">
                    <h4 class="teamo-subtitle">Let’s us make your style!</h4>
                    <h3 class="title">Best Collection </h3>
                    <div class="description">
                      A complete shopping guide on what & how to drive it!
                    </div>
                    <a href="#" class="button btn-shopping-us">Shop now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>